/* Global Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* Navigation Bar */
  nav {
      display: flex;
      background: linear-gradient(#89d2d9, #dde9ea);
      justify-content: space-between;
      align-items: center;
      height: 10vh;
  }
  
  /* Left side of the Navbar (logo and menu) */
  .nav-left {
      display: flex;
      font-size: 1.2rem;
      gap: 20px;
      width: 100%;
      margin-left: 2%;
  }
  
  /* Branding/Logo */
  .brand-logo {
      width: 10%;
      font-size: larger;
      font-weight: 800;
  }
  
  /* Navigation Menu */
  .nav-menu ul {
      display: flex;
      list-style-type: none;
      width: 100%;
  }
  
  .nav-menu li {
      display: inline-block;
      margin: 0 5%;
      padding: 2%;
  }
  
  /* Login Section */
  .login-section {
      display: flex;
      align-items: center;
      width: 100px;
  }
  
  /* Main Content */
  main {
      background-color: #dde9ea;
      height: 100vh;
      display: flex;
      position: relative;
  }
  
  /* Vertical Line for Decorative Purposes */
  .vertical-line {
      position: absolute;
      left: 80px; 
      height: 100vh; 
      width: 8px;
      background-color: #89d2d9;
  }
  
  /* Home Icon */
  .home-icon {
      position: absolute;
      left: 70px; 
      top: 20%; 
      font-size: 24px; 
  }
  
  /* Content Area */
  .content-wrapper {
      margin-left: 10%;
      margin-top: 5%;
  }
  
  /* Background Title (Dimmed Text) */
  .title-background {
      opacity: 0.1;
      font-size: 4rem;
      position: absolute;
  }
  
  /* Foreground Title (Visible Text) */
  .title-foreground {
      font-size: 4rem;
      margin-top: 5%;
  }
  
  /* Description Section */
  .description pre {
      font-weight: 400;
      margin-top: 6%;
      font-size: 1.4rem;
  }
  